<tr>
  <td><%= user.username -%></td>
	<td><%= user.given_name -%> <%= user.sn -%></br>
	    <%= user.mail -%></td>
	<td><%= user.keywords -%></br>
	    <%= user.disabled -%></br>
	    <%= user.disable_note -%></td>
	<td><%= user.reg_key -%></td>
	<td><%= user.reg_sent -%></td>
	<td><%= user.reg_confirmed -%></td>
	<td><%= user.reg_from_ip -%></td>
</tr>