<p></p>
<table>
  <tr>
    <th>Username</th>
    <th>Clients/max clients</th>
    <th>Servers</th>
    <th>Description</th>
    <th>Billing address</th>
    <th colspan=2>&nbsp;</th>
  </tr>

<% for administrator in @administrators %>
  <tr>
    <td><%= link_to h(administrator.username), administrator %></td>
    <td><%= link_to administrator.children.length, administrator %> / <%=h administrator.max_clients %></td>
    <td><%= link_to_remote( pluralize(administrator.servers.length,'Server'), 
              :url => servers_administrator_path(administrator), :method => :get,
              :update => "servers_#{administrator.id}",
              :complete => "Element.show('servers_#{administrator.id}')" ) %></td>
    <td><%=h administrator.description %></td>
    <td><%=h administrator.billing_address %></td>
    <td><%= link_to 'Edit', edit_administrator_path(administrator) %></td>
    <td><%= link_to 'Destroy', administrator, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr><tr><td  id='<%= "servers_#{administrator.id}"-%>' style='display: none;' colspan=7><div></div></td></tr>
<% end %>

</table>