<% title(_('Administrator: %s') % h(@administrator.username)) -%>
<p>
  <%=h @administrator.description %>
</p>

<div class='billing_address_box'>
  <p><b>Billing address:</b><br />
     <%=h @administrator.billing_address %>
  </p>
</div>

<p>
  <b>Max (sub)clients:</b> <%=h @administrator.max_clients %>
</p>

<% if @administrator.parent  %>
  <p><b>Parent Account:</b> <%= link_to(@administrator.parent.username,@administrator.parent) -%></p>
<% end %>

<% page_block do%>
  <h2><%= toggle_div_tag(_('Subaccounts'),'subaccounts') -%></h2>
  <div id='subaccounts' style='display: none;'>
    <% @administrators = @administrator.children %>
    <%= render :partial => 'administrators' -%>
  </div>
<% end %>

<p>
  <%= link_to(_('New subaccount'), new_administrator_path(:parent_id => @administrator)) -%>
</p>

<% @servers = @administrator.servers %>
<% page_block do %>
  <h2><%= toggle_div_tag(_('Servers'),'server_table') -%></h2>
  <div id='server_table' style='display: none;'>
    <%= render :partial => 'servers/servers' -%>
  </div>
<% end %>


<%- navigation( 
     link_to( 'Edit', edit_administrator_path(@administrator)) + " | " +
     link_to( 'Toplevel-administrators', administrators_path)
   )
-%>