<html>
  <head>
	  <title><%= yield :title -%></title>
	  <%= stylesheet_tag 'application', {} %>
	  <%= javascript_include_tag 'prototype' %>
	</head>
	<body>
	   <div id='banner'>&nbsp;</div>
	   <%= render :partial => 'layouts/header_menu' %>
	   <!-- FLASHES -->       
     <div class='flashes'>
       <%- flash.each do |fls| -%>
         <%- if not fls[1].nil? -%>
           <%= tag :div, :id => "flash_#{fls[0]}" %><%= fls[1] -%></div>
         <%- end -%>
       <%- end -%>
     </div>
    <div id='navigation-bar'>
      <h1><%= yield :title -%></h1>
      <%= yield :navigation -%></div>
		<div id='yield'><%= yield %></div>
	</body>
</html>