<% form_for @account do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </p>
  <p>
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
