<% title "Account" %>

<p>
  <strong>Username:</strong>
  <%=h @account.username %>
</p>
<p>
  <strong>Crypted Password:</strong>
  <%=h @account.crypted_password %>
</p>
<p>
  <strong>Fullname:</strong>
  <%=h @account.fullname %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @account.description %>
</p>

<p>
  <%= link_to "Edit", edit_account_path(@account) %> |
  <%= link_to "Destroy", @account, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", accounts_path %>
</p>
